/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html,
body,
.page,
.full-section,
.background-image-wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
}

.background-image-wrapper {
    position: relative;
}

body {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.page-number {
    padding: 10px 20px;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: bold;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    position: fixed;
    right: 5%;
    bottom: 5%;
    transition: opacity 0.5s;
    opacity: 0;
}

.controls-prompt {
    font-family: sans-serif;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 15px;
    border-radius: 15px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.5s;
}

.controls-prompt-text {
    margin: 3px 5px;
}

.key {
    border: 2px solid #fff;
    border-radius: 5px;
    margin: 3px;
}

.space {
    padding: 3px 30px 5px;
}

.arrow {
    padding: 3px 10px 5px;
}

.full-section {
    min-height: 100vh;
}

.full-section-exact {
    height: 100vh;
}

.front-cover {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* If there were a background-opacity property, there'd be no
 * need for this pseudo-element.
 */
.front-cover::after {
    opacity: 0.25;
    content: '';
    background-image: url(../img/ant-tunnel-invert-crop.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.front-cover-title {
    align-self: flex-start;
    margin-top: 4%;
    margin-left: 5%;
}

.front-cover-title h1,
.front-cover-title h2 {
    margin: 0;
    letter-spacing: 0.1em;
}

.front-cover-title h1 {
    text-transform: uppercase;
}

.front-cover-title h2 {
    text-transform: lowercase;
}

.zine-title {
    align-self: center;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.content-container-single {
    margin-left: 5%;
    margin-right: 5%;
}

.column-content-container {
    margin-left: 2.5%;
    margin-right: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 }

.content-column {
    align-self: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
    max-width: 640px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.content-div {
    max-height: 100%;
}

.back-cover-head {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.back-cover-head h1,
.back-cover-head h2 {
    margin: 0;
    align-self: center;
}

.back-cover-head h1 {
    text-transform: uppercase;
}

.back-cover-head h2 {
    font-style: italic;
    padding-left: 0.5em;
}

.back-cover-pt2 {
    text-align: center;
}

.intro-head {
    text-transform: uppercase;
}

.power-rose {
    max-width: 200px;
}

/* If there were a background-opacity property, there'd be no
 * need for this pseudo-element.
 */
.micha-untitled::after {
    opacity: 0.25;
    content: '';
    background-image: url(../img/diploma-large_1x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.micha-untitled .byline-box {
    text-align: left;
    justify-content: flex-end;
    align-items: flex-start;
}

.micha-untitled .text-box {
    text-align: center;
    /* justify-content: flex-start; */
}

.footer-text {
    text-align: center;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 750px) {
    .column-content-container {
        flex-direction: row;
    }
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
